In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('ChocolateProduction1.csv')
df.head()

   Number_of_Chocolates
0               90489.0
1              125675.0
2              177790.0
3              210517.0
4              167237.0

In [3]:
df.describe()

       Number_of_Chocolates
count               40.0000
mean            175433.3000
std              55599.0566
min              65659.0000
25%             141008.2500
50%             175687.5000
75%             225728.7500
max             282102.0000

In [10]:
u = df.Number_of_Chocolates.mean()
u

175433.3

In [11]:
std = df.Number_of_Chocolates.std()
std

55599.05660018674

In [14]:
n = df.Number_of_Chocolates.count()

In [9]:
print("Critical Values for 92% CI: +/-", 1.75)

Critical Values for 92% CI: +/- 1.75

In [15]:
print("Upper Bound = ", u + 1.75 * std/n**0.5)
print("Lower Bound = ", u - 1.75 * std/n**0.5)

Upper Bound =  190817.51977865567
Lower Bound =  160049.0802213443

In [5]:
54/110

0.4909090909090909

In [6]:
((1-2.4)**2)*0.3 + ((3-2.4)**2)*0.7

0.8399999999999999

In [7]:
(((1-2.4)**2)*0.3 + ((3-2.4)**2)*0.7 )**0.5

0.9165151389911679